body {
    background-color: gray;
}

/* Header */
h1 {
    color: white;
    background-color: black;
    text-align: center;
    font-family: 'Arial Narrow Bold', sans-serif;
}

/* Secondary Headers */
h2 {
    border: 2px solid #000; 
    background-color: #f2f2f2; 
    padding: 5px; 
    text-align: center; 
    border-radius: 5px; 
    width: 80%; 
    margin: 10px left; 
    color: black;
}

/* aligns the containers */
.container {
    display: flex;
    justify-content: start;
    width: 100%;
}
/* Box Styling */
.canned-box {
    width: 300px;
    height: 300px;
    border: 2px solid black;
    padding: 10px;
    background-color: lightcoral;
  
}


.dry-box {
    width: 300px;
    height: 300px;
    border: 2px solid black;
    padding: 10px;
    background-color: lightblue;
}

.empty-box {
    width: 300px;
    height: 300px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.veggie-box {
    width: 300px;
    height: 300px;
    border: 2px solid black;
    padding: 10px;
    background-color: green;
  
}

.snack-box {
    width: 300px;
    height: 300px;
    border: 2px solid black;
    padding: 10px;
    background-color: darkorange;
}

.text-list{
    font-size: larger;
}

.empty-box {
    max-width: 280px;
    max-height: 280px;
    border: 2px solid black;
    display: flex;
    overflow: hidden;
    padding-right: 50px;
    margin-right: 10px;
    }

    


  
   
  




